{
	"custom_config": {
		"admin_secret": "root",
		"jwt_secret": "put_secret_token_here",
		"storage_path": "", // Absolute path to the storage folder
		"client_path": "" // Absolute path to the client executable
	},
	"listeners": [
		{
			"address": "0.0.0.0",
			"port": 7788,
			"https": false
		}
	],
	"db_clients": [
		{
			"name": "default",
			"rdbms": "mysql",
			"host": "127.0.0.1",
			"port": 3306,
			"dbname": "bsuir_library",
			"user": "db-user-here",
			"passwd": "db-user-password-here",
			"is_fast": false,
			"connection_number": 1,
			"file_name": ""
		}
	],
	"app": {
		"threads_num": 1,
		"server_header_field": "bsuir-library"
	}
}